<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <form class="box" action="index.html" method="post">
                <h1>¿ A donde te gustaria ir ?</h1>
                <h3><i class="pe-7s-car"></i></h3>
                <input type="text" name="" placeholder="Direccion" />
                <input type="submit" name="" value="Buscar" />
            </form>
        </div>
        <div class="row">
            <div class="card1">
                <div class="col-sm-4" *ngFor="let user of users">
                    <div class="card card-user">
                        <div class="image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRScNQSlONGTQ-N__-gXgCeTsRofCkJaZz5ag&usqp=CAU"
                                alt="..." />
                        </div>
                        <div class="content">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-gray" src="assets/img/logo1.png" alt="..." />

                                    <h4 class="title"><br />
                                        <small>{{user.id}}</small>
                                    </h4>
                                </a>
                            </div>
                            <p class="description text-center"> {{user.username}}
                            </p>
                        </div>
                        <hr>
                        <div>
                            <button href="#" class="btn btn-primary alinearbotoncard button" type="submit"
                                (click)="showNotification('top','center')">Reservar</button>
                        </div>
                        <div class="text-center">
                            <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>